<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Webmedia</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style>
      body {
        /* font-family: 'Lato', sans-serif; */
        font-family: monospace;
        margin: 0
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
